body{
    background-color: purple;
    color: white;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: purple
}

nav ul{
display: flex;
justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}
.lift{
    font-size: 2rem;
}

    button{
        background-color: purple;
        border-radius: 
        width: 50px;
    }

    .btn>.one{
        background-color: white;
        width: 150px;
        height: 50px;

    }

    .btn>.two{
        width: 90px;
        height: 70px;
        border-radius: 50px;
    }
    
      .first{
        margin-top: 60px;
        margin-left: 50px;
      }

      .second img{
        height: 600px;
        width: 600px;
        display: inline-block;
        margin-right: 30px;

      }
      .main{
        display: flex;
        justify-content: space-around;
      }


      @media (max-width: 600px ){
        .nav {
            padding: 0 6vw;
            height: 60px ;
      }
        nav{
           
        }
     nav button{
    display: none;
}
nav ul{
    display: none;
}

.main {
    height: calc(100% - 60px);
    flex-direction: column;
}
.first{
    width: 100%;
    height: 50%;

}
.second{
    width: 100%;
    height: 50%;
}
        }